body {
	width: 100%;
}
#header {
	width: 100%;
	text-align: middle;
}
#Patch_Notes{
	float:left;
	width: 33%;
	/*min-width: 720px;*/
	/*#max-width: 33%;*/
}
#Class_links{
	float:left;
	width: 45%;
	/*#min-width: 720px;*/
	/*#max-width: 45%;*/
}
.Class_wrap {
	float:left;
	width: 70px;
	text-align:center;
	border: solid black 1px;
}
.Class_icon {

}
.Class_spec {

}
#Links {
	float:left;
	width: 22%;
	/*#min-width: 720px;*/
	/*#max-width:22%;*/
}
