body {
	width: 100%;
}
#header {
	width: 100%;
	text-align: middle;
}
#Patch_Notes{
	float:left;
	width: 33%;
	/*min-width: 720px;*/
	/*#max-width: 33%;*/
}
#Class_links{
	float:left;
	width: 45%;
	/*#min-width: 720px;*/
	/*#max-width: 45%;*/
}
.Class_wrap {
	float:left;
	width: 200px;
	height: 250px;
	text-align:center;
	border: solid #000000 1px;
}
.Class_icon img {
	padding: 0 30px 0 30px;
}
.Class_spec {
	float:left;
}
.Class_spec ul {
	list-style:none;
}
#Links {
	float:left;
	width: 22%;
	/*#min-width: 720px;*/
	/*#max-width:22%;*/
}
