@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #3C4859;
}
#header {
	width: 100%;
	text-align: center;
	font-size: 2em;
	padding: 0 0 4px;
	background: #040F0F;
	color:#2589BD;
}
#Nav{
	width: 100%;
	height: 50px;
	border-top: solid black 1px; 
	border-bottom: solid black 1px;
	text-align: center;
	padding: -10px;
	margin: 0px;
	vertical-align: text-top;
	background:#040F0F;
	color:#2589BD;
	border-collapse: collapse;
	
}
.wrapper{
	width: 60%;
	min-width: 720px;
	float:left;
	display: inline-flex;
	flex-direction: column;
	color: white;
}
#Patch_Notes{
	flex: 1 1 940px;
	padding: 7px 15px 5px 10px;
	margin: 0 0 0 0;
	background: #3C4859;
	border-collapse: collapse;
}
#Links {
	padding: 20px;
	background: #3C4859;
	border-bottom: solid black 1px;
	border-collapse: collapse;
}
@media screen and (max-width: 955px) {
	.wrapper{
		width:100%;
	}
	#Patch_notes{
		max-width:100%;
	}
	#Links{
		max-width:100%;
	}
}
.class_links{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items:flex-start;
	min-width: 220px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.class_wrap{
	flex: 1 1 210px;
	align-self: flex-start;
	border: solid black 1px;
	min-width: 150px;
	height: 220px;
	text-align: center;
	padding: 0 5px 0 5px; 
	border-collapse: collapse;
}
.class_specs{
	padding-top: 5px;
}
.class_specs ul {
	list-style: none;
	text-align: left;
}
.class_icon img{
	width: 95px;
}

